[Oo]bj/
[Bb]in/
TestResults
*.[Oo]bj
*.suo
*.user
*.[Cc]ache
*.bak
*.ncb
*.log
_ReSharper.*
*.resharper

# NuGet Packages
packages/

[Tt]humbs.db
*.DS_Store.svn
~$*

#
# Project specific exclusions
#
