
@import url("themes/base/jquery.ui.all.css");

/* ==|== normalize ========================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #888; color: #fff; text-shadow: none; }
::selection { background: #888; color: #fff; text-shadow: none; }

a, a:visited { color: #00e; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* Site Styles */

body { font-size: 11pt; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', Sans-Serif; }
h1 {font-size: 2em; }
h2 {font-size: 1.5em; }
h3 {font-size: 1.3em; }
h2, h3 {font-weight: normal;}
a, a:visited, a:hover { text-decoration: none; color: #5C80B1; }
h1 a, h1 a:visited, h1 a:hover, h2 a, h2 a:visited, h2 a:hover, h3 a, h3 a:visited, h3 a:hover { color: inherit; }
abbr[title] { border-bottom: 0; }
table.site-table { font-size: .8em; width: 90%; margin: 0 auto; }
table.site-table th, table.site-table td { border: solid 1px #aaa; padding: 0 5px; text-align: center; }
table.site-table th { background-color: #eee; }


html, body { height: 100%; }
#page-container { min-height: 100%; }

#header-container { padding: 0px 5% 10px 5%; }
#header-container header { color: #333; text-align: right; position: relative; padding-left: 60px; }
#header-container header img { height: 40px; position: absolute; top: 3px; left: 0; }
#header-container header h2 { font-size: 1.5em; margin: 0; font-weight: bolder; }
#header-container header h3 { font-size: .8em; margin: 0; }

#menu-container { padding: 5px 5% 5px 5%; }
#menu-container nav { background: #aaa; padding: 0 15px; border-radius: 10px; }
#menu-container nav li { float: left; position: relative; white-space: nowrap; }
#menu-container nav a, nav a:visited, nav a:hover { display: block; padding-right: 25px; color: white; text-decoration: none; }

#menu-container nav ul ul { display: none; position: absolute; top: 100%; left: 0; z-index: 9999; background-color: #fff; border: solid 1px #000; border-radius: 10px; box-shadow: 5px 5px 5px #555; }
#menu-container nav ul li:hover > ul { display: block; }
#menu-container nav ul ul a, nav ul ul a:visited, nav ul ul a:hover { padding: 10px 15px; color: inherit; }
#menu-container nav ul ul a:hover { color: #aaa; }

#body-container { padding: 15px 5% 120px 5%; }

#footer-container { padding: 0 5%; margin-top: -100px; }
#footer-container footer { border-top: solid 1px #aaa; text-align: center; }
#footer-container footer a, footer a:visited, footer a:hover { text-decoration: none; }

.loading { background: url('images/loading.gif') 50% 50% no-repeat; }


.person-list { list-style-type: none; margin: 0; padding: 0; border: 2px solid #bbb; border-top: 0 none; }
.person-list li { padding: 10px 25px; border-top: solid 1px #bbb; }
.person-list li:first-child { border-top: 2px solid #bbb; }
.person-list li:nth-child(2n) { background: #fafafa; }
.person-list-title { font-weight: bold; font-size: 1.1em; }
.person-list-meta { font-size: .8em; }


.editor-field { margin-bottom: 10px; }

.editor-radio-list { zoom: 1; }
.editor-radio-list:before, .editor-radio-list:after { content: ""; display: table; }
.editor-radio-list:after { clear: both; }
.editor-radio { float: left; margin-right: 15px; }

.error, .validation-summary-errors, .field-validation-error, span.input-validation-error { color: #ff0000; }
input.input-validation-error, textarea.input-validation-error, select.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }


a:visited.ui-state-default, .ui-widget-content a:visited.ui-state-default, .ui-widget-header a:visited.ui-state-default { color: #555; }


@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 320px){
    #header-container { padding-bottom: 15px; }
    #header-container header h2 { font-size: 1.2em; }
    #header-container header h3 { font-size: .75em; }
}


/* ==|== non-semantic helper classes ======================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
