@{
    ViewBag.Title = "All Counselors";
}

<h1>All Counselors</h1>

<ul class="person-list">
@foreach (Counselor counselor in ViewBag.Counselors)
{
    <li>
        <div class="person-list-title">@(Html.ActionLink<CounselorController>(c => c.Show(counselor.Id), counselor.FullName))</div>
        <div class="person-list-meta">@counselor.Treatments.Count clients</div>
    </li>
}
</ul>

@if((ViewBag.User as Counselor).IsSupervisor)
{
    <div>@(Html.ActionLink<CounselorController>(c => c.Add(), "Add New Counselor"))</div>
}
