@{
    ViewBag.Title = ViewBag.CounselorName;
}

<h1>@ViewBag.CounselorName</h1>

<h3>Counselor's Active Programs</h3>

<ul class="person-list">
@foreach (var program in ViewBag.Programs) {
    int programId = program.Id;
    string clientName = program.ClientName;
    <li>
        <div class="person-list-title">@(Html.ActionLink<ProgramController>(c => c.Show(programId), clientName))</div>
        <div class="person-list-meta">Current Phase: @program.CurrentPhase</div>
    </li>
}
</ul>
