@{
    ViewBag.Title = "LogOn";
}

<form method="post" action="LogOn">
<label>Username</label> <input id="username" type="text" />
<br />
<label>Password</label> <input id="password" type="password" />
<input type="submit" value="Submit"/>
</form>